<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProPlanForge</title>
    {{!-- google fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jass.css">     
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="w-100 p-3">
        <h1>
            ProPlanForge
        </h1>
        <nav>
            {{> navbar}}
{{!---            
            {{#if logged_in}}
            <button class="btn" id="logout">Log out</button>
            {{#else}}
            <a href="/signin">Sign in</a>
            {{/if}}
---}}            
        </nav>
    </header>
    <main class="container mt-5">
        {{{ body }}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>