{{!-- cards for each project on dashboard --}}
<div class="stats-link">
    <a href="/stats">Check Statistics</a>
</div>
<main>
    <section class="projects">
        <div class="card-2">
            <a href="/project">Project 1</a>
        </div>
        <div class="card-2">
            <a href="/project">Project 2</a>
        </div>
        <div class="card-2">
            <a href="/project">Project 3</a>
        </div>
        <div class="card-2">
            <a href="/project">Project 4</a>
        </div>
        <div class="card-2">
            <a href="/project">Project 5
			</a>
        </div>
        <div class="card-2">
            <a href="/project">Project 6</a>
        </div>
    </section>
</main>