<body>
	<header>
		<h2 class="home-head">
		<p id="project-title">Project Status: </p>
		</h2>
	</header>
	<div class="stats-link">
	    	<a href='/stats' id="chart-id" data-id="{{id}}">Statistics Chart</a>
	</div>
	<div class="container-fluid">
		<pre id="gantt" class="mermaid">
            {{!-- This is where the mermaid graph will be put into --}}
        </pre>
	</div>
</body>

<script src="/js/project-view.js" type="module"></script>