<body>
	<header>
		<h2 class="home-head">
		<p>Project Status: </p>
		</h2>
	</header>
	<div class="stats-link">
	    	<a href='/stats' id="chart-id" data-id="{{id}}">Statistics Chart</a>
	</div>
	<div class="container-fluid">
		<p>***PROJECT INFO HERE***</p>
	</div>
</body>