

<div class="container-fluid">
    <div class = "row">    
        <div class = "col-lg-6 card my-auto">
            <div class = "w-100">
                <canvas id="AllProjectChart"  ></canvas>
            </div>
        </div>  

        <div class = "col-lg-6 card">
            <div class = "flex-row justify-center">
                <div class="w-100">
                    <canvas id="OneProjectBarChart"></canvas>     
                </div>
            </div>

            <br>       
            <div class = "flex-row justify-center">
                <div class="w-70">
                    <canvas id="OneProjectPieChart"></canvas>            
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/stats.js"></script>